# Pyber Challenge
V. Isualize has given you and Omar a brand-new assignment. Using your Python skills and knowledge of Pandas, you’ll create a summary DataFrame of the ride-sharing data by city type. Then, using Pandas and Matplotlib, you’ll create a multiple-line graph that shows the total weekly fares for each city type. Finally, you’ll submit a written report that summarizes how the data differs by city type and how those differences can be used by decision-makers at PyBer.

### Deliverable 1: A ride-sharing summary DataFrame by city type

In [135]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [136]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

## Deliverable 1: Get a Summary DataFrame

In [137]:
#  1. Get the total rides for each city type
rides = pyber_data_df.groupby(['type']).count()['ride_id']
rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [138]:
# 2. Get the total drivers for each city type
drivers = city_data_df.groupby(['type']).sum()['driver_count']
drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [139]:
#  3. Get the total amount of fares for each city type
fares = pyber_data_df.groupby(['type']).sum()['fare']
fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [140]:
#  4. Get the average fare per ride for each city type. 
mean_ride_fare = round((fares/rides),2)
mean_ride_fare

type
Rural       34.62
Suburban    30.97
Urban       24.53
dtype: float64

In [141]:
# 5. Get the average fare per driver for each city type. 
mean_drive_fare = round((fares/drivers),2)
mean_drive_fare

type
Rural       55.49
Suburban    39.50
Urban       16.57
dtype: float64

In [142]:
#  6. Create a PyBer summary DataFrame. 
summary_df = pd.DataFrame({
    'Total Rides': rides,
    'Total Drivers' : drivers,
    'Total Fares' : fares,
    'Average Fare per Ride' : mean_ride_fare,
    'Average Fare per Driver' : mean_drive_fare})
summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.62,55.49
Suburban,625,490,19356.33,30.97,39.50
Urban,1625,2405,39854.38,24.53,16.57

In [143]:
#  7. Cleaning up the DataFrame. Delete the index name
summary_df.index.name = None

In [144]:
summary_format_df = summary_df.style.format({
    'Total Rides': '{:,d}',
    'Total Drivers': '{:,d}',
    'Total Fares': '${:20,.0f}',
    'Average Fare per Ride': '${:20,.0f}',
    'Average Fare per Driver':'${:20,.0f}'
    })

summary_format_df

In [146]:
#  8. Format the columns.
summary_format_df1 = summary_df.style.format({
    'Total Rides': '{:,d}',
    'Total Drivers': '{:,d}',
    'Total Fares': '${:20,.0f}',
    'Average Fare per Ride': '${:}',
    'Average Fare per Driver':'${:}'
    })

summary_format_df1

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame
pyber_data_df.head(15)

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
new_pyber_df = pyber_data_df.groupby(['type','date']).sum()['fare']
new_pyber_df.head()

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
new_pyber_df = new_pyber_df.reset_index()
new_pyber_df

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pivot_pyber_df = new_pyber_df.pivot(index='date', columns='type', values='fare')
pivot_pyber_df

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
loc_pivot_df = pivot_pyber_df.loc['2019-01-01']

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')